*{margin: 0px auto;padding:0px;font-family:"微软雅黑";-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{background: url(../img/205.jpg) no-repeat;position: relative;background-size: 100%;}
a{text-decoration: none;outline: none;}
a:focus{outline: none;}
li{list-style-type: none;}
/*解决input按钮在Iphone上样式不一样的问题*/
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
header{
	position: fixed;
	width: 1000px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -300px;
}
textarea{
	border: 1px solid #F5F5F5;
	height: 500px;
	margin-top: 50px;
	width: 300px;
	resize: none;
	line-height: 20px;
	border-radius: 6px;
	margin-left: 80px;
	float: left;
	outline: none;
	font-size: 16px;
	padding: 10px;
	background: rgba(240,240,240,0.7);
}
div{
	width:100px;
	float: left;
	margin-left: 70px;
	background: rgba(110,102,201,0.7);
	height: 160px;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
	margin-top: 200px;
	font-size: 16px;
	color: #F7FF00;
	padding: 10px;
	line-height: 30px;
}
i{
	text-align: center;
	color:#F7FF00;
	font-size: 70px;
	display: block;
	transition:0.3s;
}
